flight-reservation-backend/VueloSoap.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CrearVuelo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vueloData" type="tns:VueloData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VueloData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Origen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Destino" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumerpPasajero" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CrearVueloResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModificarVuelo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vueloData" type="tns:VueloData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarVueloResponse">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerVuelos">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerVuelosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerVuelosResult" type="tns:ArrayOfVueloData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVueloData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VueloData" nillable="true" type="tns:VueloData" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerVueloOrigenDestino">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Origen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Destino" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerVueloOrigenDestinoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerVueloOrigenDestinoResult" type="tns:VueloData" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CrearVueloSoapIn">
    <wsdl:part name="parameters" element="tns:CrearVuelo" />
  </wsdl:message>
  <wsdl:message name="CrearVueloSoapOut">
    <wsdl:part name="parameters" element="tns:CrearVueloResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarVueloSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarVuelo" />
  </wsdl:message>
  <wsdl:message name="ModificarVueloSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarVueloResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerVuelosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerVuelos" />
  </wsdl:message>
  <wsdl:message name="ObtenerVuelosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerVuelosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerVueloOrigenDestinoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerVueloOrigenDestino" />
  </wsdl:message>
  <wsdl:message name="ObtenerVueloOrigenDestinoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerVueloOrigenDestinoResponse" />
  </wsdl:message>
  <wsdl:portType name="VueloSoapSoap">
    <wsdl:operation name="CrearVuelo">
      <wsdl:input message="tns:CrearVueloSoapIn" />
      <wsdl:output message="tns:CrearVueloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarVuelo">
      <wsdl:input message="tns:ModificarVueloSoapIn" />
      <wsdl:output message="tns:ModificarVueloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerVuelos">
      <wsdl:input message="tns:ObtenerVuelosSoapIn" />
      <wsdl:output message="tns:ObtenerVuelosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerVueloOrigenDestino">
      <wsdl:input message="tns:ObtenerVueloOrigenDestinoSoapIn" />
      <wsdl:output message="tns:ObtenerVueloOrigenDestinoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VueloSoapSoap" type="tns:VueloSoapSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearVuelo">
      <soap:operation soapAction="http://tempuri.org/CrearVuelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarVuelo">
      <soap:operation soapAction="http://tempuri.org/ModificarVuelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerVuelos">
      <soap:operation soapAction="http://tempuri.org/ObtenerVuelos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerVueloOrigenDestino">
      <soap:operation soapAction="http://tempuri.org/ObtenerVueloOrigenDestino" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VueloSoapSoap12" type="tns:VueloSoapSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearVuelo">
      <soap12:operation soapAction="http://tempuri.org/CrearVuelo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarVuelo">
      <soap12:operation soapAction="http://tempuri.org/ModificarVuelo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerVuelos">
      <soap12:operation soapAction="http://tempuri.org/ObtenerVuelos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerVueloOrigenDestino">
      <soap12:operation soapAction="http://tempuri.org/ObtenerVueloOrigenDestino" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VueloSoap">
    <wsdl:port name="VueloSoapSoap" binding="tns:VueloSoapSoap">
      <soap:address location="http://localhost:62681/VueloSoap.asmx" />
    </wsdl:port>
    <wsdl:port name="VueloSoapSoap12" binding="tns:VueloSoapSoap12">
      <soap12:address location="http://localhost:62681/VueloSoap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>